*compile.txt

# Codeblocks
*.layout
*.depend

*/testOut.raw
*/testOutASM.raw
*/testOutC.raw

#Assignment 3
assignment3/TIS-100_Linux_11.27.2017/

# Assignment 4
assignment4/*.out
assignment4/bin/
assignment4/obj/

# Assignment5
assignment5/obj/
assignment5/bin/
